<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ejp2.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Enrique Jose Pyszczek</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        ><span>
            <h1>Acerca de Mi</h1>
            <p>Un apasionado por la informatica, la tecnologia y la programacion, con más de 25 años de experiencia en la gestion comercial y el soporte tecnico en hardware y software.</p>
        </span>
    </div>
</div>
