<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/enrique-jose-pyszczek-0614a0213/"> <img src="../../../assets/linkedin.png" alt="Linkedin"></a>
            <a href="https://twitter.com/EPyszczek"> <img src="../../../assets/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/polaris.informatica/"> <img src="../../../assets/instagram.png" alt="Instagram"></a>
            <a href="https://github.com/ejpyszczek"> <img src="../../../assets/github.png" alt="Github"></a>
            <a href="https://www.facebook.com/enriquejose.pyszczek"> <img src="../../../assets/facebook.png" alt="Facebook"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>

