<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
            <div class="redes">
            <a href="https://www.linkedin.com/in/enrique-jose-pyszczek-0614a0213/" target="_blank"> <img src="../../../assets/linkedin.png" alt="Linkedin"></a>
            <a href="https://twitter.com/EPyszczek" target="_blank"> <img src="../../../assets/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/polaris.informatica/" target="_blank"> <img src="../../../assets/instagram.png" alt="Instagram"></a>
            <a href="https://github.com/ejpyszczek" target="_blank"> <img src="../../../assets/github.png" alt="Github"></a>
            <a href="https://www.facebook.com/enriquejose.pyszczek" target="_blank"> <img src="../../../assets/facebook.png" alt="Facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
        

</div>

