<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Web Empresarial</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ullam, illo exercitationem doloribus aliquam saepe est debitis, mollitia perferendis maiores laborum facere perspiciatis laboriosam repudiandae magnam cupiditate asperiores eius nesciunt.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://www.polarisinformatica.com.ar" target="_blank"> <img src="../../../assets/WebPolaris.png" class="img-fluid img-proyecto" alt="Polaris Informatica"></a>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Web Eco Turismo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ullam, illo exercitationem doloribus aliquam saepe est debitis, mollitia perferendis maiores laborum facere perspiciatis laboriosam repudiandae magnam cupiditate asperiores eius nesciunt.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://www.ushuaianatural.com.ar" target="_blank"> <img src="../../../assets/Ushu_Natu.png" class="img-fluid img-proyecto" alt="Ushuaia Natural"></a>
        </div>

    </div>
</div>
